---
import BaseLayout from '../layouts/BaseLayout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Highlight from '../components/Highlight.astro';
import VistaCentral from '../components/VistaCentral.astro';
import ContextoOmnicanal from '../components/ContextoOmnicanal.astro';
import RelacionCliente from '../components/RelacionCliente.astro';
import Disenador from '../components/Disenador.astro';
import Principio from '../components/Principio.astro';
import CTAFooter from '../components/CTAFooter.astro';
---

<BaseLayout>
  <div class="page grid-bg">
    <Nav />
    <main>
      <Hero />
      <Highlight />
      <VistaCentral />
      <ContextoOmnicanal />
      <RelacionCliente />
      <Disenador />
      <Principio />
    </main>
  </div>
  <CTAFooter />
</BaseLayout>

<style>
  .page {
    background-color: var(--background);
  }
</style>
